#page {
  height: 100vh;
}

.default {
  background-color: black;
}

.aqua {
  background-color: rgb(169, 221, 214);
}

.green {
  background-color: rgb(97, 196, 70);
}

.yellow {
  background-color: rgb(210, 231, 74);
}

.purple {
  background-color: rgb(158, 70, 189);
}

.red {
  background-color: rgb(235, 72, 72);
}
