<div>
  <app-buttons></app-buttons>
</div>
<mat-card class="score-card">
  <mat-card-content>
    <div>
      <p id="title"><b>Scoreboard</b></p>
      <p>Player: {{ playerName }}</p>
      <p>Attempts: {{ attemptsCount }}</p>
      <p>Score: {{ totalScore }}</p>
      <mat-divider></mat-divider>
      <p id="title"><b>Flip Outcome Count</b></p>
      <p>Heads: {{ headsCount }}</p>
      <p>Tails: {{ tailsCount }}</p>
      <p>Odds: {{ oddsCount }}</p>
    </div>
  </mat-card-content>
</mat-card>
