<div class="box">
  <div class="container">
    <div>
      <h2>Choose a theme</h2>
    </div>
    <div class="button groups">
      <div id="colour-row-1">
        <button mat-raised-button id="btn1"></button>
        <button mat-raised-button id="btn2"></button>
        <button mat-raised-button id="btn3"></button>
      </div>
      <div id="colour-row-2">
        <button mat-raised-button id="btn4"></button>
        <button mat-raised-button id="btn5"></button>
        <button mat-raised-button id="btn6"></button>
      </div>
    </div>
  </div>
</div>
