<div class="box">
  <div class="container">
    <div>
      <h1>Choose a theme</h1>
    </div>
    <div class="button groups">
      <div id="colour-row-1">
        <button mat-raised-button>1</button>
        <button mat-raised-button>2</button>
        <button mat-raised-button>3</button>
      </div>
      <div id="colour-row-2">
        <button mat-raised-button>4</button>
        <button mat-raised-button>5</button>
        <button mat-raised-button>6</button>
      </div>
    </div>
  </div>
</div>
