<div class="box">
  <div class="container">
    <div id="closeContainer">
      <!-- Close button -->
      <button id="closeBtn" matTooltip="Close" mat-dialog-close>
        <img
          src="../../../../../assets/images/close.png"
          alt="close"
          height="30"
          width="30"
        />
      </button>
    </div>
    <!-- Title -->
    <div id="title">
      <h1>Leaderboard</h1>
    </div>
    <div id="list">
      <!-- Leaderboard table -->
      <table mat-table [dataSource]="leaderboardScores">
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let leaderboardScores; let i = index">
            {{ i + 1 }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let leaderboardScores">
            {{ leaderboardScores.username }}
          </td>
          <td mat-footer-cell *matFooterCellDef>You</td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef>Score</th>
          <td mat-cell *matCellDef="let leaderboardScores">
            {{ leaderboardScores.score }}
          </td>

          <!-- Current users high score -->
          <td mat-footer-cell *matFooterCellDef>{{ userHigh }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['rank', 'username', 'score']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['rank', 'username', 'score']"
        ></tr>

        <tr
          mat-footer-row
          *matFooterRowDef="['rank', 'username', 'score']"
        ></tr>
      </table>
    </div>
  </div>
</div>
